.badge.bg-success {
  background-color: #d1f4e2 !important;
  color: #1e824c !important;
  font-weight: 500;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
}

.badge.bg-danger {
  background-color: #fcdada !important;
  color: #c0392b !important;
  font-weight: 500;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
}
